* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(215, 215, 215);
}
.container {
    width: 80%;
    margin: 0px auto;
}
.navbar {
    height:55px;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
}
.sections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.section {
    padding: 10px;
    border: 1px solid transparent;
    height:45px ;
    display: flex;
    align-items:center ;
}
.section:hover {
    border:1px solid wheat ;
}
.bg-image {
    background-image: url(images/_MG_3325.JPG);
    background-size: cover;
    height: 600px;
    position: relative;
}
.profile-picture {
    width: 250px;
    position: absolute;
    bottom: -60px;
    left: 50px;
    border: 8px solid white;
    z-index: 1;
}
.bg-img-bar {
    height: 60px;
    width: 100%;
    background-color: rgba(5, 5, 5, 0.5);
    backdrop-filter: blur(2px);
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
    font-weight: 100;
}
 /* hero section start */
.bar-1, .bar-2 {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 230px;
    background-color: white;
    margin-bottom: 5px;
    margin-top: 5px;
}
.bar-2 {
    padding-left: 0px;
}
.bar-1-sections, .bar-2-sections {
    background-color: lightgreen;
    padding: 10px;
}

/* area section start form here */

.inner-area {
    width: 100%;
    background-color: white;
}
.area51{
    float: left;
    width: 30%;
    margin-bottom: 20px;
}
.area52 {
    float: left;
    width: 70%;
}
.area-51s {
    height: 200px;
    background-color: wheat;
    margin: 10px;
}
.area-51m {
    height: 500px;
    background-color: wheat;
    margin: 10px;
}
.area-52l {
    height: 1200px;
    background-color: wheat;
    margin: 10px;
}
.footer {
    background-color: wheat;
    margin-top:1225px ;
    padding: 10px;
}
p {
    color: #000;
    text-align: center;
}